# Data
var/

# Config files

topicbank/include/config.*.php
topicbank/httpd.*.conf
topicbank/users.htpasswd

# Composer related

topicbank/vendor/

# Experimental

topicbank/bin/getopt-test.php
topicbank/bin/test.php
topicbank/bin/xmlreader.php
topicbank/bin/xtm-20-schema.dtd
topicbank/bin/xtm-20-schema.relax
topicbank/tests/config.php
topicbank/ui/templates/association.tpl.php
topicbank/ui/templates/topic.tpl.php.association_link
topicbank/ui/www/association.php
topicbank/ui/www/phpinfo.php
