# Config files

app/include/config.*.php
app/httpd.*.conf
app/users.htpasswd

# Composer related

app/components/
app/composer.phar
app/vendor/

# Experimental

app/bin/getopt-test.php
app/bin/test.php
app/bin/xmlreader.php
app/bin/xtm-20-schema.dtd
app/bin/xtm-20-schema.relax
app/tests/config.php
app/ui/templates/association.tpl.php
app/ui/templates/topic.tpl.php.association_link
app/ui/www/association.php
app/ui/www/phpinfo.php
